---
import "./Layout.css";
import NavLinks from "../data/NavLinks";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!--  -->
    <meta name="title" content={title}>
    <meta name="description" content="Intrépida ofrece potentes estrategias de marketing de contenidos y SEO. Nos enfocamos en solucionar tus problemas digitales, logrando asegurar el éxito de tu negocio online.">
    <meta name="keywords" content="Cómo manejar las redes de una tienda, Cómo manejar redes sociales, Comentarios negativos en redes sociales, Cómo hacer publicidad en redes sociales, Cómo vender por internet, Cuáles redes sociales existen, Logos para redes sociales, Publicidad para redes sociales, Estadísticas en redes sociales, Community manager para empresas, Community manager para emprendimientos, Vender por redes sociales, Quién maneja redes sociales, Community manager en Buenos Aires, Analista de marketing, SEO analist, Creador de contenido, Contenido SEO, Branding para negocios, Cómo poner mi negocio en google maps, Marketing digital en Buenos Aires, Agencia de marketing digital, Creativo redes sociales">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="3 days">
    <meta name="author" content="Mariangeli Florez">
    <!--  -->
    <link rel="icon" type="image/svg+xml" href="/assets/img/logo-intrepida.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300;1,400&family=Open+Sans:wght@300;500;700;800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <nav class="sticky top-2 shadow bg-white mx-10 rounded-xl z-50">
      <div class="navbar flex justify-between px-10">
        <div>
          <a style="font-style: italic;" class="text-black text-2xl" href="/">
            Intrépida Marketing
          </a>
        </div>
        <div>
          <button
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"></path>
            </svg>
          </button>
          {
            NavLinks.map((link) => (
              <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <a class={link.style} href={link.url}>
                  {link.text}
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </nav>


    <slot />

    <footer class="bg-white py-5 px-3">
      <p class="text-center text-black text-lg font-bold">
        Web diseñada y desarrollada por <a class="text-blue" href="https://www.deleonnet.com">Manuel De León</a>
      </p>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: Lato, sans-serif;
    /* background: #13151a; */
    /* background-size: 224px; */
  }
  body {
    background-size: 100% 100%;
    background-image: url('/assets/img/bg-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
